<div th:fragment="comment-form-fragment">
  <div class="commentModal modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Comments</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul id="commentSection">

          </ul>
          <form id="commentForm" name="commentForm">
            <div class="mb-3">
              <label for="commentBody"></label>
              <textarea class="form-control" id="commentBody" name="commentBody" placeholder="Write a comment..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Comment</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>