<div th:fragment="comment-body-fragment">
  <div class="commentContainer container ms-5" id="#commentId">
    <div class="row gx-5 ">

      <div class="upvoteColumn col-md-1">
        <div class="row gx-5">
          <a href="#">
            <i class="fas fa-angle-up fa-3x"></i>
          </a>
        </div>
        <div class="mt-2 mb-2">Upvote Count</div>
        <div class="row gx-5">
          <a href="#">
            <i class="fas fa-angle-down fa-3x"></i>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img class="rounded-circle shadow-4-strong" alt="avatar2" height="50px" width="50px" src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"/>
              <span class="md5 mb-5">
                   <strong id="authorName">Commenter name</strong>
              </span>
            </div>

            <div class="col-md-6">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <!-- Ilagay mo sa a yung if commenter id == user id-->
                <a class="btn btn-danger"
                   role="button"
                   href="#"
                   id="postDeleteBtn">
                  <i class="fas fa-trash"></i>
                  Delete
                </a>
                <a class="btn btn-primary"
                   role="button"
                   href="#"
                   id="editCommentBtn">
                  <i class="fas fa-pencil"></i>
                  Edit
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10">
            <p class="mt-2">This is the comment</p>
          </div>
          <div class="col-md-2">
            <button type="button" id="editCommentSaveBtn" class="btn btn-primary" href="#">Save</button>
          </div>
        </div>

        <div class="row">
          <div class="md-col">
            <button type="button" id="replyBtn" class="btn btn-primary" href="/forum/api/blah/blah">Reply</button>
            <span>Time here</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>