<div th:fragment="comment-modal-fragment">
  <div class="modal top fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="commentModalHeader"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="commentSection">

          </div>
          <form id="commentForm" name="commentForm">
            <div class="container">
              <div class="row ">
                <div class="col-md-9">
                  <textarea class="form-control" id="commentBody" name="commentBody" placeholder="Write a comment..."></textarea>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="btn btn-primary">
                    <i class="far fa-paper-plane"></i>
                    Comment
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
</div>