<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Forum</title>
  <div th:replace="~{fragments/links :: links-fragment}"></div>
  <script th:src="@{/js/forum.js}"></script>
</head>
<body>

  <div class="container mt-3 d-flex justify-content-center" >
    <form id="createPostBtn">
      <div class="row">
        <div class="col-md-6 w-auto">
          <div class="form-outline border m">
            <input type="text" id="postBody" name="body" class="form-control" />
            <label class="form-label" for="postBody">What's on your mind</label>
          </div>
        </div>
        <div class="col-md-1 w-auto">
          <button type="submit" class="btn btn-primary btn-rounded">Post</button>
        </div>
      </div>
    </form>
  </div>
  <hr>

  <a th:href="@{/logout}" id="logoutBtn">
    <button type="button" class="btn btn-primary mb-3">
      <i class="fas fa-right-from-bracket"></i>
      Logout
    </button>
  </a>

  <div th:if="${posts.isEmpty()}">No Post Yet</div>
  <th:block th:each="post : ${posts}">
    <div class="card w-75 mb-3">
      <div class="card-body">
        <h5 class="card-title">
          <img class="rounded-circle shadow-4-strong" alt="avatar2" height="50px" width="50px" th:src="${'/img/' + post.authorPicture}" />
          <span class="md5 mb-5">
            <strong th:text="${post.authorName}" id="authorName"></strong>
          </span>
        </h5>
        <span th:text="${post.formattedDateCreated}"></span>
        <span th:text="${'at ' + post.formattedTimeCreated}"></span>

        <p class="card-text mt-3" th:text="${post.body}"></p>
        <a class="btn btn-primary"
           th:href="@{/posts/{postId}/comments (postId=${post.id}) }"
           role="button"
           data-bs-toggle="modal"
           data-bs-target="#commentModal"
           id="commentBtn">
          <i class="fas fa-message"></i>
          <span th:text="${'Comments  ·  ' + post.totalComments}"> </span>
        </a>
      </div>
    </div>
  </th:block>

  <div th:insert="~{fragments/comment-modal :: comment-modal-fragment}"></div>

  <footer>
    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <a class="btn text-white" style="background-color: #3b5998;" target="_blank" href="https://www.facebook.com/DenielleMar03" role="button">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>

        <div class="col-lg-4 col-md-6">
          <a class="btn text-white" style="background-color: #0082ca;" target="_blank" href="https://www.linkedin.com/in/deniellemar/" role="button">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>

        <div class="col-lg-4 col-md-6">
          <a class="btn text-white" style="background-color: #333333;" target="_blank" href="https://github.com/Elleined" role="button">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>