<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Forum</title>
   <div th:insert="~{fragments/links :: links-fragment}"></div>
</head>
<body>

   <h1 class="display-1 text-primary-emphasis" align="center">Login Your Username</h1>
   <hr>
   <form th:action="@{/}" method="post">
      <div class="input-group mb-3">
         <input type="email" name="email" id="email" class="form-control" placeholder="Your registered username in database">
         <button class="btn btn-primary" type="submit" id="registerBtn">Register</button>
      </div>

      <p>Don't have an account yet? Click
         <a th:href="@{/register}" role="button">here</a>
      </p>
      <span th:if="${emailNotExists}" th:text="${emailErrorMessage}" style="color: red"></span>
   </form>

</body>
<script>
   $(document).ready(function() {
    $("#email").focus();
    // insert here
});
</script>
</html>